@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Mulish&family=Roboto+Mono&display=swap');
body {
    background: linear-gradient(0deg,rgb(22, 226, 73),rgb(13, 122, 37));
    margin: 0;
}
.head {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    font-weight: 700;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
#mtn {
    background-color: rgb(250, 250, 4);
}
#airtel {
    background-color: rgb(248, 11, 11);
}
.mtn, .airtel {
    border: 1px solid rgb(80, 72, 72);
    padding: 15px;
    margin: auto;
    border-radius: 20px;
    width: fit-content;
    background-color: white;
}
.data {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%; 
}
footer {
    background: linear-gradient(90deg,rgb(223, 227, 252),rgb(143, 149, 151));
    margin-top: 20px;
    text-align : center;
}
.fa {
    padding: 5px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50px;
    border: 1px solid rgb(13, 122, 37); 
    color: rgb(13, 122, 37); 
    font-weight: 700;  
}
a:hover {
    color: rgb(27, 29, 29);
}
.footer {
   padding: 15px;
   margin-bottom: 10px;
}
.validity {
    color: rgb(13, 122, 37);
    font-weight: 900;
}
.copyright {
    font-size: 12px;
}