@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Mulish&family=Roboto+Mono&display=swap');
body {
    background: linear-gradient(0deg,rgb(49, 112, 247),rgb(36, 108, 241));
    margin: 0;
}
.head {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    border: 2px solid white;
    border-radius: 15px;
    width: 70%;
    margin: 20px auto;
    color: white;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    font-weight: 700;
}
td {
    padding: 15px;
}
th {
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
#mtn {
    background-color: rgb(241, 241, 69);
}
#airtel {
    background-color: rgb(219, 22, 22);
}
#glo {
    background-color: #20ee0d;
}
#Nmobile {
    background-color: green;
}
.mtn, .airtel, .glo, .Nmobile {
    border: 1px solid rgb(80, 72, 72);
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    width: fit-content;
    background-color: white;
}
.data {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 20px;
    align-items: center;
    width: 100%; 
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
}
footer {
    background: linear-gradient(90deg,rgb(223, 227, 252),rgb(143, 149, 151));
    margin-top: 10px;
    text-align : center;
}
.fa {
    padding: 5px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50px;
    border: 1px solid rgb(36, 108, 241); 
    color: rgb(36, 108, 241); 
    font-weight: 700;  
}
a:hover {
    color: rgb(27, 29, 29);
}
.footer {
   padding: 5px;
   margin-bottom: 5px;
}
.validity {
    color: rgb(7, 26, 196);
    font-weight: 900;
    margin-bottom: auto;
}
.copyright {
    font-size: 12px;
}
@media (min-width: 769px){
    .data{
        display: grid;
        grid-template-columns: repeat(4,2fr);
    }
}